# LLM Configuration
LLM_PROVIDER="local" # 'local' or 'openai'
LOCAL_MODEL_ENDPOINT="http://localhost:6000/generate"

OPENAI_API_KEY="" #If LLM_PROVIDER='openai'

#Demo Webs Enpoint 
DEMO_WEBS_ENDPOINT="http://localhost"
DEMO_WEBS_STARTING_PORT=8000

# OpenAI Configuration
OPENAI_MODEL="gpt-4o"
OPENAI_MAX_TOKENS="2000"
OPENAI_TEMPERATURE="0.7"

# MongoDB Configuration
MONGODB_URL="mongodb://localhost:27017"

