# LLM Configuration
LLM_PROVIDER="local"
LLM_ENPOINT="http://69.55.141.126:10278/generate"
OPENAI_API_KEY=""

#Demo Webs Enpoint 
DEMO_WEBS_ENDPOINT="http://localhost"
DEMO_WEBS_STARTING_PORT=8000

# OpenAI Configuration
OPENAI_MODEL="gpt-4-32k-0613"
OPENAI_MAX_TOKENS="2000"
OPENAI_TEMPERATURE="0.7"

# MongoDB Configuration
MONGODB_URL="mongodb://localhost:27017"

# Agents Configurations
AGENT_NAME="browser_use"
AGENT_HOST="localhost"
AGENT_PORT="8080"
